name: service registryconfig server CI

on:
  push:
    branches: [ "master" ]
<<<<<<< HEAD
  workflow_dispatch:
=======
>>>>>>> d891ecaa215fc556d976df4b71579c480627e752

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: setup jdk
      uses: actions/setup-java@v3.5.0
      with:
        java-version: '18'
        distribution: 'temurin'
    
    - name: Build with Maven
      run:
        mvn clean install package
        
    - name: build docker image
      run: docker build . --file Dockerfile --tag ${{secrets.DOCKER_USER}}/config-server
    - name: login to ACR
      uses: Azure/docker-login@v1
      with:
        username: ${{secrets.ACR_USER}}
        password: ${{secrets.ACR_PASSWORD}}
        login-server: ${{secrets.ACR_SERVER_URL}}
    
    - name: Push the docker image to docker hub
      run: docker push ${{secrets.DOCKER_USER}}/config-server



